body {
    font-family: 'Arial', sans-serif;
    background-color: #f3f3f3;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}


.tracker {
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 300px;
}

h1 {
    text-align: center;
    color: #333;
}
h2 {
    text-align: center;
    color: #777;
    margin-bottom: 20px;
}

.days-container {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 10px;
    margin-top: 10px;
}

.day {
    display: flex;
    flex-direction: column;
    align-items: center;
}

input[type="checkbox"] {
    margin-top: 5px;
}

input[type="checkbox"]:checked + label {
    color: #4CAF50;
    font-weight: bold;
}

input[type="checkbox"] {
    appearance: none;
    width: 20px;
    height: 20px;
    border: 2px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    cursor: pointer;
    transition: 0.3s;
}

input[type="checkbox"]:checked {
    background-color: #4CAF50;
    border-color: #4CAF50;
}

label {
    font-size: 14px;
    color: #333;
}
label:hover {
    font-weight: bold;
    color: black;   
}
input[type="checkbox"]:hover {
    border-radius: 10px;
    transition: 0.3s;
}